<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
</ul>

<h2> Comments </h2>
<% render @article.comments %>

<h2> Add a comment: </h2>
<<<<<<< HEAD
<%= render 'comments/form' %>
=======
<% render 'comments/form'%>
>>>>>>> 3074f469fa6358f5a7e47be039db54e77eff886c
